/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Rubik', sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
}

p {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}

span {
    font-weight: bold;
    color: #ffc300;
    border-bottom: 2px solid #ffc300;
}

a {
    text-decoration: none;
}

a.text-link:hover {
    border-bottom: 1px solid #ffc300;
    text-shadow:
        -0.2px -0.2px 0 #ffc300,
        0.2px -0.2px 0 #ffc300,
        -0.2px 0.2px 0 #ffc300,
        0.2px 0.2px 0 #ffc300;
}

.hidden {
    display: none;
}

.text-white {
    color: white;
}

.text-yellow {
    color: #ffc300;
}

.blue-header {
    background-color: #000080;
    width: 100%;
    text-align: center;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.bottom-margin {
    margin-bottom: 20px;
}

.article-border-bottom {
    border-bottom: 2px solid #ffc300;
}

/* Header */
header {
    background-color: #000080;
    padding: 0 1rem;
    position: fixed;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    text-transform: uppercase;
    margin: 5px;
}

header a {
    text-decoration: none;
    color: #ffc300;
}

.menu {
    padding-top: 15px;
    list-style: none;
    color: #ffc300;
}

.menu>li {
    margin-left: 20px;
    margin-bottom: 10px;
}

.active {
    border-bottom: 2px solid #606080;
    text-shadow:
        -0.2px -0.2px 0 #ffc300,
        0.2px -0.2px 0 #ffc300,
        -0.2px 0.2px 0 #ffc300,
        0.2px 0.2px 0 #ffc300;

}

nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    background: rgba(0, 0, 128, 0.75);
}

nav a:hover {
    text-shadow:
        -0.2px -0.2px 0 #ffc300,
        0.2px -0.2px 0 #ffc300,
        -0.2px 0.2px 0 #ffc300,
        0.2px 0.2px 0 #ffc300;
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked~nav {
    display: block;
}

.nav-toggle-label {
    color: #ffc300;
    font-size: 1.5rem;
}

/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 49px;
}

.hero {
    height: 60vh;
    min-height: 550px;
    width: 100%;
    background-color: #000080;
    background: url("../images/hero.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
}

.hero h2 {
    margin: 20px 0 10px 0;
    inset: 500px;
    background-color: rgba(255, 195, 0, 1);
    border-radius: 10px 10px 0 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.hero-cover {
    color: #000080;
    width: 100%;
    max-width: 500px;
    max-height: 450px;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

.logo-image {
    max-height: 450px;
    max-width: 400px;
    width: 100%;
    object-fit: contain;
}

.section-basic {
    width: 90%;
    max-width: 1400px;
    margin: 40px auto;
}

.header-margin {
    margin-top: 100px;
}

.wide-image {
    width: 100%;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.news-article-1 {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.article-image-1 {
    background-color: #808080;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/soccer-match-tackle.jpg") no-repeat center center/cover;
    margin-bottom: 80px;
}

.article-image-2 {
    background-color: #808080;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/soccer-match-dribbling.jpg") no-repeat center center/cover;
}

.article-image-sizing {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: flex-end;
}

#middle-article {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

#middle-article-second {
    order: -1;
}

.banner {
    background-color: #b3261e;
    width: 100%;
    padding: 5px;
    text-align: center;
}

.text-contain {
    padding: 15px;
    width: 90%;
    margin: 0 auto;
}

.player-image {
    height: 450px;
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
}

.video {
    width: 100%;
    height: 450px;
}

.updates-player {
    margin-bottom: 60px;
}

.updates-video {
    margin-bottom: 30px;
}

.main-article-image {
    background-color: #ffc300;
    background: url("../images/football-pitch.jpg") no-repeat center center/cover;
    width: 100%;
    min-height: 400px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.article-overlay {
    width: 80%;
    max-width: 900px;
    align-self: center;
    margin: 30px 0 30px 0;
}

.transparent-black-background {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
}

/* Form styling */
.members {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/members.jpg") no-repeat center center/cover;
    flex-grow: 1;
    width: 100%;
}

.members-contain {
    width: 100%;
    max-width: 900px;
    padding: 30px;
    margin: 100px auto;
    color: white;
    text-align: center;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.4);
}

.form-text-input {
    height: 50px;
    width: 80%;
    color: #414a4c;
    background: #fafafa;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 30px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

::placeholder {
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}

/* Container for both radio buttons */
.radio-buttons {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px auto;
}

/* Gives both radio buttons space */
.radio-buttons div {
    margin-top: 20px;
}

/* Remove the input[type="radio] from the radio buttons div in order to create our own styling */
.radio-buttons input {
    visibility: hidden;
}

/* <i> element added to add custom button styling to that element */
.radio-buttons i {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.2s;
    box-shadow: inset 0 0 0 10px #ffffff;
}

/* Give button custom style when checked */
.radio-buttons input:checked+i {
    box-shadow: inset 0 0 0 2px #ffffff;
    background: #ffc300;
}

.signup-button {
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: medium;
    font-weight: 500;
    background: #000080;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 20px;
}


/* Fixtures and Results table styling */
table {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

tr {
    height: 50px;
}


/* Footer content*/
footer {
    background-color: #000080;
}

.social-networks {
    text-align: center;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.social-networks i {
    font-size: 125%;
    color: #ffc300;
}

.social-networks i:hover {
    font-size: 125%;
    color: #000080;
    box-shadow: inset 200px 0 0 0 #ffc300;
    border-radius: 25%;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    nav {
        display: block;
        position: relative;
        width: fit-content;
    }

    .menu {
        display: flex;
    }

    .nav-toggle-label {
        display: none;
    }

    .updates-basic {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }

    .updates-player {
        width: 60%;
    }

    .updates-video {
        width: 60%;
    }

    .article-overlay {
        width: 50%;
        margin-left: 5%;
    }

    .main-article-image {
        justify-content: flex-start;
    }

    .form-text-input:hover {
        border-color: #ffc300;
    }

    .signup-button:hover {
        background: #0303d6;
        text-decoration: none;
    }

}

/* Larger devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    .article-image-1 {
        width: 49%;
        margin-bottom: 0px;
    }

    .article-image-2 {
        width: 49%;
    }

    #middle-article {
        flex-wrap: wrap;
        justify-content: center;
        height: 500px;
    }

    #middle-article-first {
        width: 50%;
        flex-basis: 100%;
    }

    #middle-article-second {
        width: 40%;
        order: 0;
    }

    #middle-article-third {
        width: 40%;
    }

    #bottom-article {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .members-contain {
        width: 60%;
    }
}


/* Larger devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 1200px) {
    .updates-basic {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .updates-player {
        width: 30%;
        margin-bottom: 0;
    }

    .updates-video {
        width: 50%;
        margin-bottom: 0;
    }

    .article-overlay {
        width: 40%;
        margin-left: 5%;
    }

    .members-contain {
        width: 40%;
    }

    .main-article-image {
        height: 40vh;
    }

    table {
        width: 60%;
    }
}