/* Google fonts import */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Rubik', sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
}

p {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 16;
    margin-bottom: 10px;
}

span {
    font-weight: bold;
    color: #FFC300;
    border-bottom: 2px solid #FFC300;
}

.hidden {
    display: none;
}

.text-white {
    color: white;
}

.text-yellow {
    color: #FFC300;
}

.blue-header {
    background-color: #000080;
    width: 100%;
    text-align: center;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
}

.bottom-margin {
    margin-bottom: 20px;
}

.article-border-bottom {
    border-bottom: 2px solid #FFC300;
}

/* Header */
header {
    background-color: #000080;
    padding: 0 1rem;
    position: fixed;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    text-transform: uppercase;
    margin: 5px;
}

header a {
    text-decoration: none;
    color: #FFC300;
}

.menu {
    padding-top: 15px;
    list-style: none;
    color: #FFC300;
}

.menu>li {
    margin-left: 20px;
    margin-bottom: 10px;
}

.active {
    border-bottom: 2px solid #606080;
    /* font-weight: 600; */
    /* Using text shadow on hover because using font-weight causes <ul> <li> elements to move */
    /* text-shadow: 0 0 1.5px #FFC300; */
    text-shadow:
        -0.2px -0.2px 0 #FFC300,
        0.2px -0.2px 0 #FFC300,
        -0.2px 0.2px 0 #FFC300,
        0.2px 0.2px 0 #FFC300;

}

nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    background: rgba(0, 0, 128, 0.75);
}

nav a:hover {
    /* font-weight: 600; */
    /* Using text shadow on hover because using font-weight causes <ul> <li> elements to move */
    /* text-shadow: 0 0 1.5px #FFC300; */
    text-shadow:
        -0.2px -0.2px 0 #FFC300,
        0.2px -0.2px 0 #FFC300,
        -0.2px 0.2px 0 #FFC300,
        0.2px 0.2px 0 #FFC300;
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked~nav {
    display: block;
}

.nav-toggle-label {
    color: #FFC300;
    font-size: 1.5rem;
}

/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
}

.hero {
    height: 60vh;
    width: 100%;
    background: url("../images/hero1.jpg") no-repeat center center/cover;
    position: relative;
}

.section-basic {
    width: 90%;
    margin: 40px auto;
}

.header-margin {
    margin-top: 100px;
}

.wide-image {
    width: 100%;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.news-article-1 {
    background: url("../images/player.jpg") no-repeat center center/cover;
    width: 100%;
    height: 200px;
}

.article-overlay-bg {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    align-items: flex-end;
}

.article-image-1 {
    background: url("../images/soccer_match_tackle.jpg") no-repeat center center/cover;
    margin-bottom: 80px;
}

.article-image-2 {
    background: url("../images/soccer_match_dribbling.jpg") no-repeat center center/cover;
}

.article-image-sizing {
    width: 100%;
    height: 400px;
}

#middle-article {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

#middle-article-second {
    order: -1;
}

.banner {
    background-color: #B3261E;
    width: 100%;
    text-align: center;
}

.text-contain {
    padding: 15px;
    width: 90%;
    margin: 0 auto;
}

.player-image {
    background: url("../images/player.webp") no-repeat center center/cover;
    height: 350px;
    width: 100%;
    margin: 0 auto;
}

.video {
    width: 100%;
    height: 350px;
}

.main-article-image {
    background: url("../images/scouts.jpg") no-repeat center center/cover;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.article-overlay {
    width: 80%;
    align-self: center;
    margin-left: 15px;
}

.transparent-black-background {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
}

.members {
    background: url("../images/members.jpg") no-repeat center center/cover;
    flex-grow: 1;
}

.members-contain {
    width: 75%;
    padding: 30px;
    margin: 100px auto;
    color: white;
    text-align: center;
}

.form-text-input {
    height: 50px;
    width: 80%;
    color: black;
    background: #fafafa;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 30px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

::placeholder {
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}

.radio-buttons {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px auto;
}

.radio-buttons div {
    margin-top: 20px;
}

.signup-button {
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: medium;
    font-weight: 500;
    background: #000080;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 20px;
}



/* Footer content*/
footer {
    background-color: #000080;
}

footer a {
    text-decoration: none;
}

.social-networks {
    text-align: center;
    width: 30%;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.social-networks i {
    font-size: 150%;
    color: #FFC300;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    nav {
        display: block;
        position: relative;
        width: fit-content;
    }

    .menu {
        display: flex;
    }

    .nav-toggle-label {
        display: none;
    }

    .updates-player {
        width: 60%;
        margin: 0 auto;
    }

    .updates-video {
        width: 60%;
        margin: 0 auto;
    }

    .article-overlay {
        width: 50%;
    }

    .main-article-image {
        justify-content: flex-start;
    }

    .form-text-input:hover {
        border-color: #FFC300;
    }

    .signup-button:hover {
        background: #0303d6;
        text-decoration: none;
    }

}

/* Larger devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .menu a:hover {
        border-bottom: 2px solid #606080;
    }

    #bottom-article {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .article-image-1 {
        width: 49%;
        margin-bottom: 0px;
    }

    .article-image-2 {
        width: 49%;
    }

    #middle-article {
        flex-wrap: wrap;
        justify-content: center;
        height: 500px;
    }

    #middle-article-first {
        width: 50%;
        flex-basis: 100%;
    }

    #middle-article-second {
        width: 40%;
        order: 0;
    }

    #middle-article-third {
        width: 40%;
    }

    .members-contain {
        width: 40%;
    }

    .radio-buttons {
        width: 60%;
    }
}


/* Larger devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 1200px) {
    .updates-basic {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .updates-player {
        width: 30%;
    }

    .updates-video {
        width: 50%;
    }

    .article-overlay {
        width: 40%;
        margin-left: 5%;
    }

    #middle-article {
        width: 80%;
    }
}